.post
  .title= @post.title
  .content= textilized(@post)
  #comment_count= @post.comments.length.to_s
  #comment_link= link_to('comment', '#')
  #permalink= link_to('permalink', @post.permalink) if @post.created_at
  
  #comment_form_container{:style => 'display:none'}
    - form_for(:comment, :action => url(:controller => :comments, :action => :create), :id => 'comment_form') do
      = text_control(:email)
      email<br>
      = text_control(:name)
      name<br>
      = text_area_control(:body)
      comment<br>
      = checkbox_control(:textile)
      textile<br>
      = hidden_control(:post_id, :value => @post.id)
      = submit_button :comment, :id => 'comment_submit_button'
      
  #comments
    - @post.comments.reverse.each do |c|
      .comment= c.textile ? textilized(c) : c.body
      %br